<!DOCTYPE html>

<html>
<meta charset="utf-8">
<head>
	<title>Quiz</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h2>Quiz: El juego de las preguntas</h2>
<form method="get" action="/check">
	<p>Pregunta: <%= question %> </p>   <!-- Antes era .quizquestion -->
	<input type="text" name="answer" value="" value="<%= answer %>" 
						placeholder="Responda Aqui"/>
	<input type="submit" value="Comprobar">
</form>
</body>
</html>